{% extends "base.html" %}
{% block title %}A propos{% endblock %}
{% block content %}
<div class="row">
    <div class="col-3"></div>
    <div class="col">
        <h2 class="text-center">A propos de Translate</h2>
        <p>
            Translate est une application Web permettant de connecter les traducteurs algériens aux clients demandeurs
            de traduction
            <br> Il offre la possibilité de choisir les langues, les catégories de traduction ainsi que de travailler
            avec des traducteurs assermentées
        </p>
    </div>
    <div class="col-3"></div>
</div>
{% endblock %}