{% extends "base.html" %}
{% block title %}Vos transactions{% endblock %}
{% block content %}
<div class="row">
    <div class="col-2"></div>
    <div class="col">
        <h3 class=" text-center my-3">
            Vos offres de traduction
        </h3>
        {% for offer in offeers %}
        <div class="card">
            <h5 class="card-header text-center">offre: {{ offer.request.translator.full_name }}</h5>
            <div class="card-body">
                <h5 class="card-title"><a href="#">Voir le profil</a></h5>
                <div class="row align-content-center">
                    <p class="col align-self-center">
                        Prix en avance:{{offer.accept_price}}
                    </p>
                    <p class="col align-self-center">
                        Prix après traduction : {{offer.after_price}}
                    </p>
                </div>
                {% if offer.notes %}
                <h6>Notes du traducteur</h6>
                <p>{{offer.notes}}</p>
                {% endif %}
                <a href="{{ offer.request.file.url }}" download class="btn btn-primary ">Télécharger le fichier à
                    traduire</a>
                <div class="row">
                    <a href="#" class="col btn btn-success">Accpeter</a>
                    <a href="#" class="col btn btn-success">Refuser</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">
            Vous n'avez aucune offre de traduction en attente
        </p>
        {% endfor %}
    </div>
    <div class="col"></div>
    <div class="col-2"></div>
</div>
{% endblock %}