{% extends "base.html" %}
{% block title %}Vos transactions{% endblock %}
{% block content %}
{% if messages %}
{% for message in messages %}
<h3 class="text-center text-success">
    {{message}}
</h3>
{% endfor %}
{% endif %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-4">
        <h3 class=" text-center my-3">
            Vos offres de traduction
        </h3>


        {% for offer in offers %}
        <hr>
        <div class="card m2">
            <h5 class="card-header text-center">Offre de : {{ offer.request.translator.user_profile.full_name }}</h5>
            <div class="card-body">
                <h5 class="card-title text-center"><a href="#" class="text-center">Voir le profil</a></h5>
                <div class="row align-content-center">
                    <p class="col align-self-center text-center">
                        Prix en avance : {{offer.accept_price}}DA
                    </p>
                    <p class="col align-self-center text-center">
                        Prix après traduction : {{offer.after_price}}DA
                    </p>
                </div>
                {% if offer.notes %}
                <h6 class="text-center">Notes du traducteur</h6>
                <p class="text-center">{{offer.notes}}</p>
                {% endif %}
                <a href="{{ offer.request.file.url }}" download
                    class="container-fluid btn btn-primary text-center">Télécharger le
                    fichier à
                    traduire</a>
                <hr>
                <div class="row ">
                    <a href="{% url 'projet_app:client_accept' pk=offer.pk %}"
                        class="col btn btn-success mx-3">Accpeter</a>
                    <a href="{% url 'projet_app:client_refuse' pk=offer.pk %}"
                        class="col btn btn-danger mx-3">Refuser</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">
            Vous n'avez aucune offre de traduction en attente
        </p>
        {% endfor %}
    </div>
    <div class="col-4">
        <h3 class=" text-center my-3">
            Vos Réponses
        </h3>


        {% for response in responses %}
        <hr>
        <div class="card m2">
            <h5 class="card-header text-center">Réponse de :
                {{ response.offer.request.translator.user_profile.full_name }}</h5>
            <div class="card-body">
                <h5 class="card-title text-center"><a href="#" class="text-center">Voir le profil</a></h5>
                <div class="row align-content-center">
                    <p class="col align-self-center text-center">
                        Prix après traduction : {{response.offer.after_price}}DA
                    </p>
                </div>
                <a href="{{ response.file.url }}" download
                    class="container-fluid btn btn-primary text-center">Télécharger la réponse</a>
                <hr>
                <a href="{% url 'projet_app:treat_response' pk=response.pk %}"
                    class="btn  btn-danger container ">Marquer
                    comme traité </a>
                <p class="text-danger text-center my-3">Attention : ne pas éxecuter cette opération avant de télécharger
                    la réponse!</p>
            </div>
        </div>
        {% empty %}
        <p class="text-center">
            Vous n'avez aucune offre de traduction en attente
        </p>
        {% endfor %}
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}