{% extends "base.html" %}
{% block title %} Translate {% endblock %}
{% block content %} {% load static %}
{% if not user.is_authenticated %}
<script src="{% static 'js/custom/non_auth.js' %}"></script>
{% endif %}
{% load template_filters %}


<section class="container-fluid row m-5">
  <section class="col-5" id="leftPart">
    <div>
      {% for notif in notifications %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{notif.text}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    </div>
    {% if notifications %}
    <hr>
    {% endif %}
    <p>
      <h3 class="font-weight-bold">{{article3.title}}</h3>
      {{article3.text|start}} <a id="myBtn1_dots">...</a><span id="myBtn1_more">{{article3.text|end}}</span><a
        onclick="myFunction()" class="text-primary" id="myBtn1">
        Afficher plus
      </a>
    </p>
    <hr>
    <p>
      <h3 class="font-weight-bold">{{ article2.title }}</h3>
      {{article2.text|start}} <a id="myBtn2_dots">...</a><span id="myBtn2_more">{{article2.text|end}}</span><a
        onclick="myFunction()" class="text-primary" id="myBtn2">
        Afficher plus
      </a>
    </p>
    <hr>
    <p>
      <h3 class="font-weight-bold">{{ article1.title }}</h3>
      {{article1.text|start}} <a id="myBtn3_dots">...</a><span id="myBtn3_more"> {{article1.text|end}} </span><a
        class="text-primary" id="myBtn3">
        Afficher plus
      </a>
    </p>
  </section>
  <section class="col-6 ml-5">
    <div id="register_login">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link " id="home-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login"
            aria-selected="true">Se connecter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register"
            aria-selected="false">S'inscrire</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'projet_app:logout' %}" class="btn btn-primary">Se déconnecter</a>
        </li>
        {% endif %}

      </ul>
    </div>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" id="login" role="tabpanel" aria-labelledby="login-tab">
        <form class="m-4" id="login_form" method="POST" action="{% url 'projet_app:login' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="username"
              placeholder="Entrez votre nom">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Mot de passe</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password"
              placeholder="votre mot de passe svp">
          </div>

          <button type="submit" class="btn btn-primary font-weight-bold px-4">Se Connecter</button>
          <hr>
        </form>
      </div>
      <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
        <h5 class="text-center mt-3">Veuillez fournir vos informations personnlles (si vous êtes un traducteur, veuillez
          vous inscrire à travers <a href="{% url 'projet_app:recruit' %}" class="text-primary">ce lien</a>)</h5>
        <form class="m-4" id="register_form" method="POST" action="{% url 'projet_app:register' %}">
          {% csrf_token %}
          <div class="row">
            {{form}}
          </div>
          <button type="submit" class="btn btn-success col font-weight-bold mx-2 py-2">S'inscrire</button>

        </form>
      </div>


      <hr>
    </div>

    </div>
    <header class="bg-secondary p-4">
      <h2 class="text-white h2 text-center">Demandez un devis de traduction ici</h2>
    </header>
    <div>

      <form class="m-4 md-form" id="tr" method="POST" enctype="multipart/form-data"
        action="{% url 'projet_app:send_request' %}">
        {% csrf_token %}
        {% if err_msg %}
        <div>
          <p class="text-danger text-center" id="error">{{err_msg}}</p>
          <hr>
        </div>
        {% else %}
        <div>
          <p class="text-danger text-center" id="error" style="display: none;"></p>
          <hr>
        </div>
        {% endif %}
        {% if messages %}
        {% for message in messages %}
        <p {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} class="text-center text-danger" {% endif %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} class="text-center text-success" {% endif %}>
          {{ message }}</p>
        {% endfor %}
        {% endif %}
        <h6 class="text-center mt-3">informations du client</h6>
        <div class="form-row my-2">
          <div class="col">
            <input type="text" class="form-control" placeholder="Nom" name="family_name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Prénom" name="first_name">
          </div>
        </div>
        <div class="form-row my-3">
          <div class="col">
            <input type="email" class="form-control" placeholder="Email" name="email">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Numéro de téléphone" name="phone">
          </div>
        </div>

        <div class="form-row my-3">

          <div class="col">
            <input type="text" class="form-control" placeholder="Adresse" name="address">
          </div>
        </div>
        <hr>
        <!--Here WE gonna handle langage and category aspects of the form-->
        <div class="row">
          <div class="col">
            <h6> Choisissez la langue source </h6>
            <select class="custom-select" id="src_language_select" name="src_lang">
              {% for language in languages %}
              <option>{{language.name}}</option>
              {% endfor %}
            </select>
          </div>


          <div class="col">
            <h6> Choisissez la langue destination </h6>
            <select class="custom-select" id="dest_language_select" name="dest_lang">
              {% for language in languages %}
              <option>{{language.name}}</option>
              {% endfor %}
            </select>
          </div>

        </div>
        <h6 class="my-2 text-center">Quelle catégorie de traduction désirez-vous?</h6>
        <select class="custom-select" id="category_select" name="category">
          {% for category  in categories %}
          <option>{{category.name}}</option>
          {% endfor %}
        </select>
        <hr>
        <h6 class="text-center">Si vous avez des commentaires concernant votre traduction, renseignez-les ici</h6>
        <div class="form-group">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="notes"></textarea>
        </div>

        <h6 class="text-center my-2">Enfin, veuillez donner le fichier à traduire (en format pdf)</h6>

        <div class="row">
          <div class="col"></div>
          <input type="file" name="file_req" id="file" class="inputfile">
          <label for="file" class="btn btn-primary my-2 text-center align-center col-10">Choisir un fichier à
            envoyer</label>
          <div class="col"></div>
        </div>
        <div class="form-check text-center mb-2">
          <input type="checkbox" class="form-check-input" id="trans_check">
          <label class="form-check-label" for="trans_check">Cochez cette case si vous acevez besoin d'un traducteur
            assermenté</label>
        </div>

        <div class="row">
          <button class="btn btn-success col font-weight-bold mx-2" id="find_translator">Trouver un traducteur
            !</button>
        </div>
        <div id="ajax_response"></div>

      </form>
    </div>
  </section>
</section>
<script src="{% static 'js/custom/home.js' %}"></script>
<script src="{% static 'js/custom/home-forms.js' %}"></script>
<script src="{% static 'js/custom/custom-file-input.js' %}"></script>

{% endblock %}