{% extends "base.html" %}
{% block title %}Vos transactions{% endblock %}
{% block content %}
{% if messages %}
{% for message in messages %}
<p class="text-center text-success">
    {{message}}
</p>
{% endfor %}
{% endif %}
<div class="row justify-center">
    <hr>
    <div class="row text-center container-fluid">
        <h1 class="col container-fluid">Dashboard</h1>
    </div>
    <div class="col-1"></div>
    <div class="col">
        <h3 class=" text-center my-3">
            Vos demandes de devis
        </h3>
        {% for request in requests %}
        <hr>
        <div class="card m2">
            <h5 class="card-header text-center">Demande de: {{ request.full_name }}</h5>
            <div class="card-body">
                <h5 class="card-title">Categorie : {{request.category}}</h5>
                <div class="row align-content-center">
                    <p class="col align-self-center">
                        De : {{request.src_language}}
                    </p>
                    <p class="col align-self-center">
                        Vers : {{request.dest_language}}
                    </p>
                    <p class="col align-self-center">
                        <a href="{% url 'projet_app:request_details' pk=request.pk %}" class="btn btn-primary">Plus de
                            détails</a>
                    </p>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">
            Vous n'avez aucune demande de devis pour le moment
        </p>
        {% endfor %}

    </div>
    <div class="col">
        <h3 class=" text-center my-3">
            Vos demandes de traduction
        </h3>

        {% for offer in offers %}
        <div class="card m2">
            <h5 class="card-header text-center">Offre acceptée par : {{ offer.request.full_name }}</h5>
            <div class="card-body">
                <div class="row align-content-center ml-2">
                    <p class="col align-self-center">
                        Adresse: {{offer.request.address}}
                    </p>
                </div>
                <div class="row align-content-center ml-2">
                    <p class="col align-self-center">
                        Tel : {{offer.request.phone_number}}
                    </p>
                </div>
                <div class="row align-content-center">
                    <p class="col align-self-center text-center">
                        Langue destination : {{offer.request.dest_language}}
                    </p>
                    <p class="col align-self-center text-center">
                        Prix : {{offer.after_price}}DA
                    </p>
                </div>
                <a href="{{ offer.request.file.url }}" download
                    class="container-fluid btn btn-primary text-center">Télécharger le
                    fichier à
                    traduire</a>
                <h6 class="text-center mt-3">Notes du client</h6>
                {% if offer.request.notes %}
                <p class="text-center">{{offer.request.notes}}</p>
                {% else %}
                <p class="text-center">Votre client n'a rien ajouté</p>
                {% endif %}

            </div>

        </div>
        <hr>
        <form class="row" method="POST" enctype="multipart/form-data"
            action="{% url 'projet_app:translator_transactions' %}">
            {% csrf_token %}
            <div class="text-center text-danger">
                {{form.file.errors}}
            </div>
            <div type="file" href="#" class="col btn btn-primary mx-3">
                {{form.file}}
            </div>
            <input type="hidden" name="pk" value="{{offer.pk}}">
            <input type="submit" class="col btn btn-success mx-3" value="Envoyer la réponse">
        </form>
        <hr>
        {% empty %}
        <p class="text-center">
            Vous n'avez aucun devis accepté pour le moment
        </p>
        {% endfor %}
    </div>
    <div class="col-1"></div>
</div>

{% endblock %}